###############################################################################
# Build directory                                                     [ Bazel ]
bazel-*

###############################################################################
# Log directory                                                   [ Andromeda ]
/logging

###############################################################################
# Local files                                                     [ Andromeda ]
/local

###############################################################################
# Local configuration                                             [ Andromeda ]
# Vscode                                                             [ VSCode ]
.vscode